{% extends "main/base.html" %}
{% block title %}تسجيل الدخول{% endblock %}

{% block content %}
<div class="container"> <!-- Start container -->
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Adjust the column size as needed -->
            <h1>تأكيد البريد الإلكتروني</h1>
            <p>تم تأكيد بريدك الإلكتروني بنجاح! شكرًا لك.</p>
            <a href="/home">العودة إلى الصفحة الرئيسية</a>
        </div>
    </div>
</div> <!-- End container -->
{% endblock %}
