{% extends 'main/base.html' %}

{% block title %}حضارة فلسطين - الحفاظ على التراث{% endblock %}

{% block content %}
<style>
    .list-group-item {
        border: none !important; /* Remove borders */
        background-color: transparent !important; /* Remove background color */
        padding-right: 20px; /* Add some padding on the right */
        position: relative; /* Needed for positioning the bullet */
        text-align: right; /* Align text to the right */
        margin-bottom: 5px; /* Space between list items */
        line-height: 0.4; /* Reduce the line height */
        font-weight: normal; /* Ensure text is not bold */
    }

    .list-group-item::before {
        content: '•'; /* Unicode character for bullet */
        color: #000; /* Bullet color */
        font-size: 20px; /* Bullet size */
        position: absolute;
        right: 0; /* Position bullet on the right */
        top: 50%;
        transform: translateY(-50%);
    }
</style>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-body text-right">
                    <h2 class="card-title">لماذا نشجع على المشاركة في حضارة فلسطين؟</h2>
                    <hr>
                    <p>
                        في هذه الأوقات الصعبة، تواجه حضارة فلسطين تحديات كبيرة. تعرضت العديد من المكتبات والمواقع الثقافية للخطر والتدمير. لكن هناك شيء واحد يمكننا القيام به للمساعدة والمحافظة على التراث الثقافي الفلسطيني: المشاركة والمساهمة بالمعرفة.
                    </p>
                    <p>
                        نشجع بشدة على تقديم المقالات والأبحاث والفنون والأعمال الأدبية والثقافية حول حضارة فلسطين. بمشاركتك، ستساهم في الحفاظ على قصصهم وتراثهم الغني.
                    </p>
                    <h4>بعض المواضيع الممكنة للمشاركة:</h4>
                    <ul>
                        {% for c in cats%}
                        <li class="list-group-item">{{c.name}}</li>
                        {% endfor %}
                    </ul>
                    <h3>لا ننسى</h3>
                    <p>
                        ساهم معنا في الحفاظ على تراث حضارة فلسطين وشارك مع العالم قصصها وإرثها الثري. لنقم بالأمور الكبيرة سويًا.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
