{% extends 'main/base.html' %} 
{% block title %}{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
<div class="home-intro-section">
    
    <div class="right-section">
        <p>
            اللغة العربية، بجمالها وغناها، تشكل جزءاً لا يتجزأ من هويتنا وتراثنا العربي.<br>
            في "أرشيف العرب"، نحتفي بهذه اللغة العظيمة من خلال تشجيع البحث العلمي والمساهمات الأدبية بها.<br>
            نؤمن بأن للعربية دور محوري في تطوير المعرفة ونشر العلوم، ومن هنا تأتي أهمية مبادرتنا.<br>
            ندعو الباحثين والمفكرين للمشاركة بإسهاماتهم الأصلية باللغة العربية أو بترجمات لأبحاث عالمية بموافقة المؤلفين،<br>
            لنثري مكتبتنا العربية بمحتوى قيم يعزز من مكانة لغتنا في عالم العلوم.
        </p>
    </div>
    <div class="left-section">
        <h4>أفضل مترجم لهذا الشهر</h4>
        <p>[اسم المترجم]</p>
        <h4>أفضل مؤلف لهذا الشهر</h4>
        <p>[اسم المؤلف]</p>
        أنشر ورقة علمية لتصبح أفضل مؤلف في شهرنا الأول !
    </div>
</div>
</div>
</div>

<div class="section about-us" dir="rtl" style="background-color:#f6fff7;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">
          <div class="accordion" id="accordionExample">
            <!-- Accordion Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  لماذا يجب أن أكتب أوراقي العلمية باللغة العربية؟
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  كتابة الأوراق العلمية باللغة العربية تعزز من البحث العلمي في المجتمع العربي وتساهم في توسيع المعرفة ونشر العلوم بلغتنا الأم، ما يسهل الوصول إليها وفهمها.
                </div>
              </div>
            </div>
            <!-- Accordion Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  هل يمكنني تقديم نسخة من ورقتي العلمية إلى المجلات والمؤتمرات؟
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  نعم، يمكن تقديم نسخة من الأوراق العلمية للنشر في المجلات والمؤتمرات، مع الأخذ بعين الاعتبار حقوق النشر والموافقات اللازمة من الجهات المعنية.
                </div>
              </div>
            </div>
            <!-- Accordion Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  إرشادات الكتاب والمؤلفين
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  نوفر مجموعة من الإرشادات والمعايير للمؤلفين لضمان جودة الأبحاث والمقالات المقدمة، وذلك يشمل أسلوب الكتابة، التنسيق، ومعايير النشر الأخلاقية.
                </div>
              </div>
            </div>
            <!-- Accordion Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  كيف يمكنك دعم هذه المبادرة؟
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  يمكن دعم المبادرة من خلال المشاركة الفعالة بالبحوث والأوراق العلمية، وكذلك بتشجيع الباحثين والطلاب على الكتابة والنشر باللغة العربية.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>عن المبادرة</h6>
            <h2>ما يميز مبادرتنا الأكاديمية</h2>
            <p>تتميز مبادرتنا بتركيزها على تعزيز اللغة العربية في البحث العلمي وتوفير منصة للعلماء والباحثين لنشر أعمالهم وإسهاماتهم بلغتنا الجميلة.</p>
            <div class="main-button">
              <a href="#">اكتشف المزيد</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}